body{
	box-sizing:border-box;
	margin: 0px;
}
h1{
	text-align:center;
	margin-bottom: 20px;
	font-style:italic;
}
div{
 	border:1px solid black;
	width:30%;
	position:relative;
	margin: 5px 10px; 
	float:left;
	background-color: gray;
}

div > h3{
	border-bottom: 1px solid black;
	border-left: 1px solid black;  
	float:right;
	text-align: center;
	padding: 5px 10px;
	margin:0px;
	position: absolute;
	right:0px;
}
.div1 h3{
	background-color: #fa2;
}
.div2 h3{
	background-color: #f93;
	color:white;
}
.div3 h3{
	background-color: #f55;
}
p{
	position: relative;
	top:10px;
	padding:10px 10px;
	/*clear:right;*/
}
@media (min-width: 768px) and (max-width: 991px){
	.div1{
		width:45%;
		margin-left: 20px;
	}
	.div2{
		width:45%;
		margin-left:20px;
	}
	.div3{
		width:93%;
		margin:20px;

	}

}
@media (max-width:767px){
	div {
		margin-left:10px;
		width:90%;
	}

} 